/* Add animation */
@keyframes ripple {
	0% {
		opacity: 0;
		width: 0%;
		left: 50%;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 0.1;
	}
	100% {
		opacity: 0;
		width: 100%;
		left: 0%;
	}
}

@keyframes openSelectOptions {
	0% {
		opacity: 0;
		height: 0px;
	}
	100% {
		opacity: 1;
		height: 100px;
	}
}
