.ig {
	display: flex;
	position: relative;
	left: 0px;
	right: 0px;
	background-color: transparent;
}

.ig .input {
	margin: 0px;
}

.ig .input button {
	background-color: white;
	@extend .border;
}

.form-ctrl {
	width: 100%;
	height: 40px;
	display: inline-block;
	vertical-align: center;
	padding: 7.5px;
}

.ig-item {
	@extend .form-ctrl;
	@extend .border;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
	transition: all 0.5s ease-in-out;
	color: #ccc !important;
	cursor: default;
}

.ig button span {
	left: 0px;
}

.input {
	margin-top: 15px;
	margin-bottom: 15px;
	top: 0px;
	right: 0px;
	position: relative;
	height: 50px;
}

.input .label-top {
	font-size: small;
	position: absolute;
	top: -16px;
	width: 100%;
	left: 0px;
}

.input .label-bot {
	font-size: small;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
}

.input .ifas {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 0px;
	margin: 11px;
	pointer-events: none;
	text-align: right;
}

input[type="text"]:focus {
	border: 2px solid #2ea1ff;
	transition: all 0.5s ease-in-out;
}

input[type="text"] {
	cursor: text !important;
}

input {
	width: 100%;
}

input[type=text],
input[type=button],
input[type=submit],
input[type=reset] {
	width: 100%;
	padding: 7.5px 5px;
	margin: 0px 0;
	display: inline-block;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
	transition: all 0.5s ease-in-out;
	color: #ccc !important;
	@extend .border;
}

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: transparent;
	border-color: transparent;
	color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid var(--text-color);
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: var(--text-color);
	cursor: pointer;
	margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	/* Add cool effects to your sliders! */
	transition: 0.3s ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover {
	-webkit-appearance: none;
	border: 1px solid rgb(184, 184, 184);
	background: rgb(184, 184, 184);
	transition: 0.3s ease-in-out;
	background-color: rgb(184, 184, 184);
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 7px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	background: var(--text-color);
	border-radius: 3px;
}

input[type=range]::-webkit-slider-runnable-track:hover {
	-webkit-appearance: none;
	background: rgb(184, 184, 184);
	transition: 0.3s ease-in-out;
	background-color: rgb(184, 184, 184);
}

input[type=range]::-webkit-slider-runnable-track:hover ~ input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: rgb(184, 184, 184);
	transition: 0.3s ease-in-out;
	background-color: rgb(184, 184, 184);
}

button {
	width: 100%;
	padding: 7.5px 5px;
	margin: 0px 0;
	display: inline-block;
	box-sizing: border-box;
	outline: none;
	transition: all 0.5s ease-in-out;
	font-size: 18px;
	cursor: pointer !important;
	-webkit-app-region: no-drag;
	@extend .border;
}

button span {
	position: absolute;
	/* To make it round */
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 2px;
	left: 8px;
	animation: ripple 0.5s;
	opacity: 0;
}

select {
	width: 100%;
	background-color: DodgerBlue;
	//@extend .border;
	//outline: 4px solid black;
	padding: 7.5px 5px;
	margin: 0px 0;
	//visibility: hidden;
	display: none;
}

.select {
	position: absolute;
	z-index: 10;
	width: 100%;
	transition: all 0.3s ease-in-out;
	background-color: DodgerBlue;
	@extend .border;

	height: auto;
	display: block;
	vertical-align: center;
	padding: 0px;
}

.select .selectedValue {
	width: 100%;
	height: 36px;
	padding: 7.5px;
	margin: 0px 0;
	display: inline-block;
	box-sizing: border-box;
	outline: none;
	transition: all 0.5s ease-in-out;
	font-size: 18px;
}

.select .optionWrapper {
	width: 100%;

	padding: 5px 5px;
	margin: 0px 0;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	transition: all 0.1s ease-in-out;
	font-size: 18px;
}
.select .optionWrapper:hover {
	background-color: rgb(73, 73, 73);
	transition: all 0.1s ease-in-out;
	border-radius: 4px !important;
	border: 0px;
}

.select .optionsListWrapper {
	max-height: 120px;
	height: 0px;
	transition: all 0.3s ease-in-out;
	overflow-y: auto;
	margin-left: 4px;
	margin-right: 4px;
}

.select .optionsListWrapper.show {
	transition: all 0.3s ease-in-out;
	//margin-bottom: 4px;

	height: 120px;
}

.select .bar {
	position: absolute;
	left: 0px;
	top: 36px;
	width: 100%;
	height: 2px;
	background-color: #ccc;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.select .bar.show {
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.progress {
	width: 100%;
	background-color: #2ea1ff;
	height: 5px;
	border-radius: 4px;
}

.progress-bar {
	background-color: blue;
	height: 100%;
	border-radius: 4px;
	transition: all 1s linear;
}

progress {
	display: none;
}
