.container {
	padding-left: var(--container-padding-left);
	padding-right: var(--container-padding-right);
	padding-top: var(--container-padding-top);
	padding-bottom: var(--container-padding-bottom);
}

.container-fluent {
	padding-right: var(--container-fluent-padding-right);
	padding-left: var(--container-fluent-padding-left);
	padding-top: var(--container-fluent-padding-top);
	padding-bottom: var(--container-fluent-padding-bottom);
}

.row {
	position: relative;
	display: flex;
	left: 0px;
	right: 0px;

	margin-top: var(--row-padding-top);
	margin-bottom: var(--row-padding-bottom);
	margin-left: var(--row-padding-left);
	margin-right: var(--row-padding-right);
}

.cItem {
	width: 100%;
	padding-top: 7.5px;

	display: inline-block;
	font-size: 18px;
	transition: all 0.5s ease-in-out;
	color: rgb(0, 0, 0) !important;
}

.c1-2 {
	align-items: center;
	width: 4.175%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c1 {
	align-items: center;
	width: 8.33%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c2 {
	position: relative;
	align-items: center;
	width: 16.66%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c3 {
	align-items: center;
	width: 25%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c4 {
	position: relative;
	align-items: center;
	width: 33.33%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c5 {
	align-items: center;
	width: 41.66%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c6 {
	align-items: center;
	width: 50%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c7 {
	align-items: center;
	width: 58.33%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c8 {
	align-items: center;
	width: 66.66%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c9 {
	align-items: center;
	width: 75%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c10 {
	align-items: center;
	width: 83.33%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c11 {
	align-items: center;
	width: 91.66%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}

.c12 {
	align-items: center;
	width: 100%;
	padding-left: var(--row-col-padding-left);
	padding-right: var(--row-col-padding-right);
	padding-top: var(--row-col-padding-top);
	padding-bottom: var(--row-col-padding-bottom);
}
@media screen and (max-width: 800px) {
	.crow {
		display: block;
		left: 0px;
		right: 0px;
	}
	.c1 {
		width: 100% !important;
		float: left;
	}
	.c2 {
		width: 100% !important;
		float: left;
	}
	.c3 {
		width: 100% !important;
		float: left;
	}
	.c4 {
		width: 100% !important;
		float: left;
	}
	.c5 {
		width: 100% !important;
		float: left;
	}
	.c6 {
		width: 100% !important;
		float: left;
	}
	.c7 {
		width: 100% !important;
		float: left;
	}
	.c8 {
		width: 100% !important;
		float: left;
	}
	.c9 {
		width: 100% !important;
		float: left;
	}
	.c10 {
		width: 100% !important;
		float: left;
	}
	.c11 {
		width: 100% !important;
		float: left;
	}
	.c12 {
		width: 100% !important;
		float: left;
	}
}

.ig .c1 {
	padding: 0px;
}
.ig .c2 {
	padding: 0px;
}
.ig .c3 {
	padding: 0px;
}
.ig .c4 {
	padding: 0px;
}
.ig .c5 {
	padding: 0px;
}
.ig .c6 {
	padding: 0px;
}
.ig .c7 {
	padding: 0px;
}
.ig .c8 {
	padding: 0px;
}
.ig .c9 {
	padding: 0px;
}
.ig .c10 {
	padding: 0px;
}
.ig .c11 {
	padding: 0px;
}
.ig .c12 {
	padding: 0px;
}
