.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.center-v {
	position: absolute;
	top: 50%;
	margin-bottom: -50%;
	transform: translateY(-50%);
}
.center-h {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
}

.pointer {
	cursor: pointer;
}

.tcenter {
	text-align: center !important;
}
.tright {
	text-align: right !important;
}
.tleft {
	text-align: left !important;
}

.dark {
	background-color: #111 !important;
	color: #fff !important;
}

.tlight {
	color: #fff !important;
}

.tdark {
	color: #111 !important;
}

.transparent {
	background-color: transparent !important;
}

.lockLeft {
	position: absolute;
	left: 0px;
}

.lockRight {
	position: absolute;
	right: 0px;
}

.border {
	border-radius: var(--border-radius);
	border-style: var(--border-style);
	border-width: var(--border-width);
	border-color: var(--border-color);
}

.border:hover {
	border-color: var(--border-color-hover);
}

.lock-start {
	display: flex;
	justify-content: flex-start;
}

.lock-end {
	display: flex;
	justify-content: flex-end;
}
