:root {
	// Colors
	--text-color-primary: #fff;
	--text-color-secondary: #333;

	--bg-color-primary: #333;
	--bg-color-secondary: #fff;

	//row columns
	--row-col-padding-top: 0px;
	--row-col-padding-right: 0px;
	--row-col-padding-bottom: 0px;
	--row-col-padding-left: 0px;

	//row
	--row-padding-top: 15px;
	--row-padding-right: 0px;
	--row-padding-bottom: 15px;
	--row-padding-left: 0px;

	//container
	--container-padding-top: 10px;
	--container-padding-right: 10px;
	--container-padding-bottom: 10px;
	--container-padding-left: 10px;

	//container-fluent
	--container-fluent-padding-top: 0px;
	--container-fluent-padding-right: 0px;
	--container-fluent-padding-bottom: 0px;
	--container-fluent-padding-left: 0px;

	//Border
	--border-radius: 8px;
	--border-width: 2px;
	--border-style: solid;
	--border-color: rgb(121, 121, 121);
	--border-color-hover: rgb(128, 106, 252);
	--border-color-focus: #333;

	--modal-bg-color-dark: rgba(0, 0, 0, 0.5);
	--modal-bg-color-light: rgba(255, 255, 255, 0.5);
}
