:root {
	--bg-color: #555555;
	--text-color: #fff;
	--text-color-hover: rgb(184, 184, 184);
	--bg-Controls-color: #555555;
	--bg-Nav-color: #555555;
	--controls-distance: 10px;
	--controls-b-radius: 5px;
}
